
        h1{
            font-size: 55px;
            text-align: center;
            color: rgb(122, 36, 36)
            
        }
        header{
            color: rgb(99, 58, 17);
        }
        p{
            font-size: 35px;
            text-align: center;
            color: rgb(99, 58, 17);
        }
        img{
            display: block;
            margin-right: auto;
            margin-left: auto
        }
        h2{
            text-align: center;
            font-size: 45px;
            color: rgb(99, 58, 17)
        }
        a{
            color: brown;
            font-size: 30px;
            display: block;
            text-align: center;
        }
        body{
            background-color: rgb(255, 225, 186);
        }
    />