<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Ava</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<style>
    h2{
        font-size: 55px;
        text-align: center;
    }
</style>

<body>
    <div id ="headers">
        <h2>All About the Aura Reader</h2>
        <p>This is my iconic queen and the reason I started watching big brother in the first place. She has this free spirt that can’t be contained by anyone in that house which attracted her to me as a view. She reminds me of me and I love how unapologetic her in every asset in the show! She has amazing energy that she use to help shift up the house no matter what direction she goes through.</p>
        <img
                id = "banner-images"
                src = "image/avasmile.webp" width = "1000" length = "500"
                alt = "Banner Images"
            />
        <h2><a href = "https://www.youtube.com/watch?v=ojnKrDw0H20" target = "_blank_">More of the Icon</a></h2>
    </div>

</body>
</html>